In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
from kneed import KneeLocator
from sklearn.datasets import make_blobs
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
from sklearn.preprocessing import StandardScaler

In [2]:
os.chdir("F:\\Road to Opta\\player_stats\\")
football_dataset = pd.read_csv("football_scoreline.csv")
football_dataset = football_dataset.iloc[:,1:]

In [3]:
columns = football_dataset.columns.to_list()

In [4]:
columns = columns[0:1] + columns[7:8] + columns[9:95]

In [5]:
df = football_dataset[[*columns]]
position = pd.get_dummies(df.pos,prefix="pos")

In [6]:
df = df.drop(['pos'],axis=1)

In [7]:
df = df.join(position)

In [8]:
df.head(10)

,player_name,min,st,on,off,y,yr,r,g,a,...,pos_DMR,pos_DR,pos_FW,pos_FWL,pos_FWR,pos_GK,pos_MC,pos_ML,pos_MR,pos_SUB
0,Pepe,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,Nacho,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,Keylor Navas,90,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,Kiko Casilla,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,Luka Modric,90,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
5,Lucas Vazquez,90,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,Mateo Kovacic,86,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,Isco,66,1,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,Casemiro,24,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
9,James Rodriguez,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [9]:
from sklearn.preprocessing import StandardScaler
scaled_features = StandardScaler().fit_transform(df.iloc[:,1:].values)
scaled_features_df = pd.DataFrame(scaled_features, index=df.iloc[:,1:].index, columns=df.iloc[:,1:].columns)
scaled_features_df.head(5)

,min,st,on,off,y,yr,r,g,a,sa,...,pos_DMR,pos_DR,pos_FW,pos_FWL,pos_FWR,pos_GK,pos_MC,pos_ML,pos_MR,pos_SUB
0,-1.276538,-1.147475,-0.441596,-0.441773,-0.335785,-0.048814,-0.070528,-0.244355,-0.212275,-0.072646,...,-0.038519,-0.204207,-0.274384,-0.105629,-0.105616,-0.233395,-0.305633,-0.162946,-0.162972,1.147518
1,-1.276538,-1.147475,-0.441596,-0.441773,-0.335785,-0.048814,-0.070528,-0.244355,-0.212275,-0.072646,...,-0.038519,-0.204207,-0.274384,-0.105629,-0.105616,-0.233395,-0.305633,-0.162946,-0.162972,1.147518
2,0.974814,0.871479,-0.441596,-0.441773,-0.335785,-0.048814,-0.070528,-0.244355,-0.212275,-0.072646,...,-0.038519,-0.204207,-0.274384,-0.105629,-0.105616,4.284576,-0.305633,-0.162946,-0.162972,-0.871446
3,-1.276538,-1.147475,-0.441596,-0.441773,-0.335785,-0.048814,-0.070528,-0.244355,-0.212275,-0.072646,...,-0.038519,-0.204207,-0.274384,-0.105629,-0.105616,-0.233395,-0.305633,-0.162946,-0.162972,1.147518
4,0.974814,0.871479,-0.441596,-0.441773,-0.335785,-0.048814,-0.070528,-0.244355,4.127387,-0.072646,...,-0.038519,-0.204207,-0.274384,-0.105629,-0.105616,-0.233395,-0.305633,-0.162946,-0.162972,-0.871446

In [10]:
scaled_features_df = pd.concat([df.player_name,scaled_features_df],axis=1)
scaled_features_df.head(5)

,player_name,min,st,on,off,y,yr,r,g,a,...,pos_DMR,pos_DR,pos_FW,pos_FWL,pos_FWR,pos_GK,pos_MC,pos_ML,pos_MR,pos_SUB
0,Pepe,-1.276538,-1.147475,-0.441596,-0.441773,-0.335785,-0.048814,-0.070528,-0.244355,-0.212275,...,-0.038519,-0.204207,-0.274384,-0.105629,-0.105616,-0.233395,-0.305633,-0.162946,-0.162972,1.147518
1,Nacho,-1.276538,-1.147475,-0.441596,-0.441773,-0.335785,-0.048814,-0.070528,-0.244355,-0.212275,...,-0.038519,-0.204207,-0.274384,-0.105629,-0.105616,-0.233395,-0.305633,-0.162946,-0.162972,1.147518
2,Keylor Navas,0.974814,0.871479,-0.441596,-0.441773,-0.335785,-0.048814,-0.070528,-0.244355,-0.212275,...,-0.038519,-0.204207,-0.274384,-0.105629,-0.105616,4.284576,-0.305633,-0.162946,-0.162972,-0.871446
3,Kiko Casilla,-1.276538,-1.147475,-0.441596,-0.441773,-0.335785,-0.048814,-0.070528,-0.244355,-0.212275,...,-0.038519,-0.204207,-0.274384,-0.105629,-0.105616,-0.233395,-0.305633,-0.162946,-0.162972,1.147518
4,Luka Modric,0.974814,0.871479,-0.441596,-0.441773,-0.335785,-0.048814,-0.070528,-0.244355,4.127387,...,-0.038519,-0.204207,-0.274384,-0.105629,-0.105616,-0.233395,-0.305633,-0.162946,-0.162972,-0.871446

In [11]:
import sqlite3
os.chdir("F:\\Road to Opta\\player_stats\\")
cnn=sqlite3.connect('game_data.db')
scaled_features_df.to_sql('scaled_features',cnn)

In [12]:
cursor = cnn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('scaled_features',)]

In [13]:
#cursor.execute("DROP TABLE scaled_features")

In [14]:
%reload_ext sql

In [15]:
%sql sqlite:///game_data.db

In [16]:
## Mean stats of every player

mean_stats_query = '''
Select player_name,
AVG(min) as min_mean,
AVG(st) as st_mean,
AVG('on') as on_mean,
AVG(off) as off_mean,
AVG(y) as y_mean,
AVG(yr) as yr_mean,
AVG(r) as r_mean,
AVG(g) as g_mean,
AVG(a) as a_mean,
AVG(sa) as sa_mean,
AVG(aop) as aop_mean,
AVG(asp) as asp_mean,
AVG(s) as s_mean,
AVG(sog) as sog_mean,
AVG(int) as int_mean,
AVG(cr) as cr_mean,
AVG(acr) as acr_mean,
AVG(cc) as cc_mean,
AVG(bcc) as bcc_mean,
AVG(ccop) as ccop_mean,
AVG(ccsp) as ccsp_mean,
AVG(blk) as blk_mean,
AVG(tkl) as tkl_mean,
AVG(tklw) as tklw_mean,
AVG(fc) as fc_mean,
AVG(fs) as fs_mean,
AVG(p) as p_mean,
AVG(ap) as ap_mean,
AVG(acro) as acro_mean,
AVG(aw) as aw_mean,
AVG(br) as br_mean,
AVG(dr) as dr_mean,
AVG(dw) as dw_mean,
AVG(eg) as eg_mean,
AVG(es) as es_mean,
AVG(ibs) as ibs_mean,
AVG(ibsog) as ibsog_mean,
AVG(ibg) as ibg_mean,
AVG(obs) as obs_mean,
AVG(obsog) as obsog_mean,
AVG(obg) as obg_mean,
AVG(aog) as aog_mean,
AVG(apw) as apw_mean,
AVG(dsp) as dsp_mean,
AVG(own) as own_mean,
AVG(touch) as touch_mean,
AVG(tbox) as tbox_mean,
AVG(pft) as pft_mean,
AVG(dl) as dl_mean,
AVG(afzp) as afzp_mean,
AVG(blkcr) as blkcr_mean,
AVG(pent) as pent_mean,
AVG(clrol) as clrol_mean,
AVG(posl) as posl_mean,
AVG(lpopp) as lpopp_mean,
AVG(pk) as pk_mean,
AVG(pkg) as pkg_mean,
AVG(pkm) as pkm_mean,
AVG(pksvd) as pksvd_mean,
AVG(fkcr) as fkcr_mean,
AVG(fkacr) as fkacr_mean,
AVG(crn) as crn_mean,
AVG(crncr) as crncr_mean,
AVG(crnw) as crnw_mean,
AVG(fks) as fks_mean,
AVG(fksog) as fksog_mean,
AVG(fkg) as fkg_mean,
AVG(gc) as gc_mean,
AVG(cs) as cs_mean,
AVG(sv) as sv_mean,
AVG(ibsv) as ibsv_mean,
AVG(obsv) as obsv_mean,
AVG(aks) as aks_mean,
AVG(pkc) as pkc_mean,
AVG(pkf) as pkf_mean,
AVG(pksv) as pksv_mean,
AVG(cl) as cl_mean,
AVG(ecl) as ecl_mean,
AVG(punch) as punch_mean,
AVG(alb) as alb_mean,
AVG(atb) as atb_mean,
AVG(lmt) as lmt_mean,
AVG(toff) as toff_mean,
AVG(bcm) as bcm_mean,
AVG(bcs) as bcs_mean,
AVG(attdr) as attdr_mean,
AVG(pos_AMC) as pos_AMC_mean,
AVG(pos_AML) as pos_AML_mean,
AVG(pos_AMR) as pos_AMR_mean,
AVG(pos_DC) as pos_DC_mean,
AVG(pos_DL) as pos_DL_mean,
AVG(pos_DMC) as pos_DMC_mean,
AVG(pos_DML) as pos_DML_mean,
AVG(pos_DMR) as pos_DMR_mean,
AVG(pos_DR) as pos_DR_mean,
AVG(pos_FW) as pos_FW_mean,
AVG(pos_FWL) as pos_FWL_mean,
AVG(pos_FWR) as pos_FWR_mean,
AVG(pos_GK) as pos_GK_mean,
AVG(pos_MC) as pos_MC_mean,
AVG(pos_ML) as pos_ML_mean,
AVG(pos_MR) as pos_MR_mean,
AVG(pos_SUB) as pos_SUB_mean from scaled_features
group by player_name
'''

In [17]:
mean_stats = %sql $mean_stats_query

 * sqlite:///game_data.db
Done.

In [19]:
col = scaled_features_df.columns

In [21]:
mean_stats = pd.DataFrame(mean_stats,columns=col)

In [24]:
import numpy as np; import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
cosine = cosine_similarity(mean_stats.iloc[:,1:])

In [135]:
cosine_df = pd.DataFrame(cosine, index=mean_stats.iloc[:,1:].index)
cosine_df = pd.concat([mean_stats.player_name,cosine_df],axis=1)
cosine_df.head(5)

,player_name,0,1,2,3,4,5,6,7,8,...,8262,8263,8264,8265,8266,8267,8268,8269,8270,8271
0,Aaron,1.000000,-0.088614,-0.230908,0.710104,0.041530,0.561088,0.356518,0.041530,0.035899,...,0.467070,-0.304772,0.207063,0.041530,0.041530,0.143231,-0.180956,0.041530,0.041530,-0.127775
1,Aaron Appindangoye,-0.088614,1.000000,-0.421192,0.204318,-0.272126,-0.022129,-0.209671,-0.272126,-0.217335,...,0.090543,-0.187473,-0.132463,-0.272126,-0.272126,-0.201436,0.871253,-0.272126,-0.272126,0.215133
2,Aaron Connolly,-0.230908,-0.421192,1.000000,-0.556787,0.566677,0.143795,-0.251186,0.566677,0.347549,...,0.136646,0.296116,-0.401379,0.566677,0.566677,-0.130482,-0.469241,0.566677,0.566677,0.244661
3,Aaron Cresswell,0.710104,0.204318,-0.556787,1.000000,-0.498445,0.121537,0.551974,-0.498445,-0.308756,...,0.091514,-0.004361,0.568878,-0.498445,-0.498445,0.311941,0.189618,-0.498445,-0.498445,-0.392309
4,Aaron Herzog,0.041530,-0.272126,0.566677,-0.498445,1.000000,0.405237,-0.328694,1.000000,0.533110,...,0.381252,-0.400848,-0.588064,1.000000,1.000000,-0.259843,-0.329321,1.000000,1.000000,0.637603

In [136]:
all_players = cosine_df.player_name.to_list()
cosine_df.columns = ['player_name'] + all_players

In [180]:
similar_player = 'Marc-Andre ter Stegen'

In [181]:
messi_df = cosine_df.loc[cosine_df['player_name'] == similar_player]
messi_df.set_index('player_name',inplace=True)

In [182]:
messi_df.sort_values(by = similar_player, axis=1, ascending=False)

,Marc-Andre ter Stegen,Roman Burki,Thibaut Courtois,Anthony Lopes,Samir Handanovic,Edouard Mendy,Bernd Leno,Steve Mandanda,Hugo Lloris,Gianluigi Donnarumma,...,Amadou Haidara,Mario Gotze,Admir Mehmedi,Lucas Moura,Maxwel Cornet,Alex Berenguer,Ignacio Pussetto,Leonardo Bittencourt,Brais Mendez,Franco Vazquez
player_name,,,,,,,,,,,,,,,,,,,,,
Marc-Andre ter Stegen,1.0,0.990241,0.988145,0.987209,0.986096,0.983923,0.982254,0.982125,0.982032,0.980275,...,-0.354047,-0.355299,-0.357912,-0.361592,-0.365716,-0.371022,-0.3791,-0.386555,-0.387687,-0.390556

In [183]:
messi_df.sort_values(by = similar_player, axis=1, ascending=False).iloc[:,1:10]

,Roman Burki,Thibaut Courtois,Anthony Lopes,Samir Handanovic,Edouard Mendy,Bernd Leno,Steve Mandanda,Hugo Lloris,Gianluigi Donnarumma
player_name,,,,,,,,,
Marc-Andre ter Stegen,0.990241,0.988145,0.987209,0.986096,0.983923,0.982254,0.982125,0.982032,0.980275

,Lionel Messi,Paulo Dybala,Josip Ilicic,Neymar,Iago Aspas,Alexis Sanchez,Memphis Depay,Riyad Mahrez,Andrej Kramaric,Domenico Berardi,...,Baissama Sankoh,Nicolas Cozza,Anthony Walongwa,Kouadio-Yves Dabila,Juan Jesus,Alex Ferrari,Tony Jantschke,Gaston Silva,Matteo Lovato,Mamadou Fofana
player_name,,,,,,,,,,,,,,,,,,,,,
Lionel Messi,1.0,0.861099,0.858813,0.843716,0.829748,0.821599,0.814192,0.800971,0.799358,0.799117,...,-0.67711,-0.678542,-0.679546,-0.679795,-0.680837,-0.684203,-0.690017,-0.693506,-0.713,-0.720926

In [108]:
matrix = [(222.222, 16.123, 23.12313),
          (-333, -31, -11),
          (444, 34, 11),
          ]
# Create a DataFrame object of 3X3 Matrix
dfObj = pd.DataFrame(matrix, index=list('abc'))

In [109]:
dfObj

         0       1         2
a  222.222  16.123  23.12313
b -333.000 -31.000 -11.00000
c  444.000  34.000  11.00000

In [124]:
dfObj = dfObj.sort_values(by ='a', axis=1)
print("Contents of Sorted Dataframe based on a single row index label 'b' ")
print(dfObj)

Contents of Sorted Dataframe based on a single row index label 'b'
        1         2        0
a  16.123  23.12313  222.222
b -31.000 -11.00000 -333.000
c  34.000  11.00000  444.000

In [74]:
messi_df

,player_name,Aaron,Aaron Appindangoye,Aaron Connolly,Aaron Cresswell,Aaron Herzog,Aaron Hickey,Aaron Hunt,Aaron Kamardin,Aaron Lennon,...,Ziya Erdal,Zlatan Ibrahimovic,Zlatko Junuzovic,Zoran Arsenic,Zoran Popovic,Zoran Tosic,Zou Feddal,Zourdine Thior,Zsolt Kalmar,Zvonimir Sarlija
4639,Lionel Messi,-0.110366,-0.226344,-0.118178,0.251704,-0.515035,-0.409097,0.415416,-0.515035,-0.389126,...,-0.453016,0.652602,0.517127,-0.515035,-0.515035,0.338811,-0.167401,-0.515035,-0.515035,-0.526258

In [12]:
# import numpy as np; import pandas as pd
# from sklearn.metrics.pairwise import cosine_similarity
# cosine_similarity(scaled_features_df.iloc[:,1:])

In [ ]:
# kmeans = KMeans(
#     init="random",
#     n_clusters=10,
#     n_init=10,
#     max_iter=1)

In [ ]:
# kmeans.fit(scaled_features)

In [14]:
# import tensorflow as tf
# y_true = [[0., 1.], [1., 1.]]
# y_pred = [[1., 0.], [1., 1.]]
# # Using 'auto'/'sum_over_batch_size' reduction type.
# cosine_loss = tf.keras.losses.CosineSimilarity(axis=1)
# # l2_norm(y_true) = [[0., 1.], [1./1.414], 1./1.414]]]
# # l2_norm(y_pred) = [[1., 0.], [1./1.414], 1./1.414]]]
# # l2_norm(y_true) . l2_norm(y_pred) = [[0., 0.], [0.5, 0.5]]
# # loss = mean(sum(l2_norm(y_true) . l2_norm(y_pred), axis=1))
# #       = -((0. + 0.) +  (0.5 + 0.5)) / 2
# cosine_loss(y_true, y_pred).numpy()

-0.49999997